.separator {
    flex-grow: 1;
    max-height: 40px;
}

.letter {
    margin-right: 2px;
    border: 2px solid transparent;
    display: inline-flex;
    width: 1.7em;
    height: 1.7em;
    justify-content: center;
    align-items: center;
}

.letter.correct {
    border: 2px solid #16a216;
    box-shadow: inset #16a216 0px 0px 0.7em;
}

.letter.misplaced {
    border: 2px solid #d95200;
    box-shadow: inset #d95200 0px 0px 0.7em;
}

.letter.incorrect {
    border: 2px solid #303030;
    box-shadow: inset #303030 0px 0px 0.7em;
}

.letter.unguessed {
    border: 2px solid var(--theme);
    box-shadow: inset var(--theme) 0px 0px 0.7em;
}

.letter-subtitle {
    display: block;
    margin-bottom: 8px;
}

.logo > div {
    border: 3px solid #303030;
    /* width: fit-content;
    height: fit-content; */
    max-width: 0;
    max-height: 0;
    padding: 0.7em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    animation: forwards 8s 1s linear logo-inner-animation;
}

@keyframes logo-inner-animation {
    0% {
        border-color: #303030;
        border-width: 3px;
        background-color: transparent;
        padding: 0.7em;
    }

    37% {
        border-color: #16a216;
        border-width: 3px;
        background-color: #16a216;
        padding: 0.7em;
    }

    /* At 6s */
    75% {
        border-color: #16a216;
        border-width: 0px;
        background-color: #16a216;
        padding: 0.5em;
    }

    100% {
        border-width: 0px;
        background-color: transparent;
        padding: 0.5em;
    }
}

.logo {
    background-color: transparent;
    border-radius: 0px;
    gap: 2px;
    animation: forwards 3s 7s linear logo-animation;
}

@keyframes logo-animation {
    0% {
        gap: 2px;
        background-color: transparent;
        padding: 2px 8px;
        border-radius: 0px;
    }

    100% {
        gap: 0px;
        background-color: #16a216;
        padding: 2px 8px;
        border-radius: 5px;
    }
}