<nav game>
    <a>
        <!-- TODO: <i>Back</i> -->
        <span style="font-weight: bold;">Elvenym</span>
    </a>
    <div class="separator"></div>
    <!-- TODO: <i>Help</i> -->
    <!-- TODO: <i>Leaderboards</i> -->
</nav>
<main game>
    @if (loaded()) {
        @for (guess of guesses(); track $index) {
        <absurdle-row [active]="guess[1] == activeRow" [word]="guess[0]" [shouldTypeAnimate]="isTyping" [shouldInvalidAnimate]="guess[1] == activeRow && isInvalid()" (winEvent)="onWin()"></absurdle-row>
        }
    }
    @else {
        Loading...
    }
    <div class="separator"></div>
    <absurdle-keyboard [correctKeys]="getCorrectKeys()" [incorrectKeys]="getIncorrectKeys()" [misplacedKeys]="getMisplacedKeys()"></absurdle-keyboard>
</main>
<footer game>
    Created by <a style="color: var(--theme);">Elvenide</a>
</footer>