<nav style="height: 60px; width: 100%; background-color: darkblue;">
    Temporary Template
</nav>
<main class="main">
    @if (loaded()) {
        @for (guess of guesses(); track $index) {
        <absurdle-row [active]="guess[1] == activeRow" [word]="guess[0]" [shouldTypeAnimate]="isTyping" [shouldInvalidAnimate]="guess[1] == activeRow && isInvalid()" (winEvent)="onWin()"></absurdle-row>
        }
    }
    @else {
        Loading...
    }
    <div class="separator"></div>
    <absurdle-keyboard [correctKeys]="getCorrectKeys()" [incorrectKeys]="getIncorrectKeys()" [misplacedKeys]="getMisplacedKeys()"></absurdle-keyboard>
</main>
<footer style="background-color: darkred; width: 100%;">
    &copy; Elvenide (Temporary Template)
</footer>