<nav game>
    <button (click)="user.setPage('home')">
        <icon name="home" medium />
    </button>
    <div class="logo">
        <div>A</div>
        <div>B</div>
        <div>S</div>
        <div>U</div>
        <div>R</div>
        <div>D</div>
        <div>L</div>
        <div>E</div>
    </div>
    <div class="separator"></div>
    <button (click)="showInfoModal.set(true)">
        <icon name="outline:info" medium />
    </button>
    <button>
        <icon name="outline:leaderboard" medium />
    </button>
    <avatar [url]="user.getAvatar()" [username]="user.getUsername()" />
</nav>
<main game>
    @if (loaded()) {
        @for (guess of guesses(); track $index) {
        <absurdle-row [active]="guess[1] == activeRow" [word]="guess[0]" [shouldTypeAnimate]="isTyping" [shouldInvalidAnimate]="guess[1] == activeRow && isInvalid()" (winEvent)="onWin()"></absurdle-row>
        }
    }
    @else {
        Loading...
    }
    <div class="separator"></div>
    <absurdle-keyboard [correctKeys]="getCorrectKeys()" [incorrectKeys]="getIncorrectKeys()" [misplacedKeys]="getMisplacedKeys()"></absurdle-keyboard>
</main>
<footer game>
    Created by <a href="#">Elvenide</a>
</footer>

<!-- Win Modal -->
<modal [open]="showWinModal()">
    <span modal-header>
        <icon name="emoji_events" />
        Victory!
    </span>
    <span class="letter-subtitle">Found Answer:</span>
    <b>
    @for (letter of absurdle.answer(); track $index) {
        <span class="letter correct">{{letter.toUpperCase()}}</span>
    }
    </b><br /><br />
    Guesses: <b>{{getWinRow()}}/5</b><br/>
    Win Rate: <b>{{absurdle.getWins() / (absurdle.getWins() + absurdle.getLosses()) * 100}}%</b>
    <b style="color: #00cc00;">&nbsp;&plus;</b>
</modal>

<!-- Loss Modal -->
<modal [open]="showLossModal()">
    <span modal-header>
        <icon name="flag" />
        Defeat
    </span>
    <span class="letter-subtitle">Missed Answer:</span>
    <b>
    @for (letter of absurdle.answer(); track $index) {
        @if (getCorrectKeys().has(letter)) {
        <span class="letter correct">{{letter.toUpperCase()}}</span>
        }
        @else if (getMisplacedKeys().has(letter)) {
        <span class="letter misplaced">{{letter.toUpperCase()}}</span>
        }
        @else if (getIncorrectKeys().has(letter)) {
        <span class="letter incorrect">{{letter.toUpperCase()}}</span>
        }
        @else {
        <span class="letter unguessed">{{letter.toUpperCase()}}</span>
        }
    }
    </b><br /><br />
    Guesses: <b>5/5</b><br/>
    Win Rate: <b>{{absurdle.getWins() / (absurdle.getWins() + absurdle.getLosses()) * 100}}%</b>
    <b style="color: #cc0000;">&nbsp;&ndash;</b>
</modal>

<!-- Info Modal -->
<modal [open]="showInfoModal()" (closeEvent)="showInfoModal.set(false);">
    <span modal-header>How to Absurdle</span>
    <ul>
        <li>Uncover the daily 6-letter word in 5 guesses</li>
        <li>Each guess must be a real word</li>
        <li>Each guess provides color-coded information</li>
    </ul>
    <br/>
    <span class="letter-subtitle">
        Letters not in the word are gray:
    </span>
    <b>
        <span class="letter incorrect">C</span>
        <span class="letter incorrect">H</span>
        <span class="letter incorrect">E</span>
        <span class="letter incorrect">E</span>
        <span class="letter incorrect">K</span>
        <span class="letter incorrect">Y</span>
    </b>
    <br/><br/>
    <span class="letter-subtitle">
        Letters in the word, but wrong position, are orange:
    </span>
    <b>
        <span class="letter misplaced">B</span>
        <span class="letter misplaced">R</span>
        <span class="letter incorrect">E</span>
        <span class="letter misplaced">A</span>
        <span class="letter incorrect">K</span>
        <span class="letter misplaced">S</span>
    </b>
    <br/><br/>
    <span class="letter-subtitle">
        Letters in the correct position are green:
    </span>
    <b>
        <span class="letter correct">A</span>
        <span class="letter incorrect">T</span>
        <span class="letter incorrect">T</span>
        <span class="letter correct">U</span>
        <span class="letter incorrect">N</span>
        <span class="letter incorrect">E</span>
    </b>
    <br/><br/>
    <span class="letter-subtitle">
        Get all letters green to win:
    </span>
    <b>
        <span class="letter correct">A</span>
        <span class="letter correct">B</span>
        <span class="letter correct">S</span>
        <span class="letter correct">U</span>
        <span class="letter correct">R</span>
        <span class="letter correct">D</span>
    </b>
</modal>