@if (!user.isDiscord() || user.isDiscordReady()) {

<!-- //Home Page -->
@if (user.getPage() == 'home') {
<nav home>
    <a class="logo" href="/">
        <img width="32" height="32" src="logo.png" />
        lvenym
    </a>
    <avatar [url]="user.getAvatar()" [username]="user.getUsername()" />
</nav>
<main home>
    <button class="absurdle" (click)="user.setPage('absurdle')">
        <div>
            <icon name="grid_on" medium />
            <p>Absurdle</p>
        </div>
    </button>
    <button class="collections"  (click)="user.setPage('collections')">
        <div>
            <icon name="web_stories" medium />
            <p>Collections</p>
        </div>
    </button>
    <button disabled class="coming-soon tether">
        <div>
            <icon name="link" medium />
            <p>Tether</p>
        </div>
    </button>
    <button disabled class="coming-soon swelling-bee">
        <div>
            <icon name="hive" medium />
            <p>Swelling Bee</p>
        </div>
    </button>
    <button disabled class="coming-soon trend-market">
        <div>
            <icon name="whatshot" medium />
            <p>Trend Market</p>
        </div>
    </button>
</main>
}
<!-- Home Page// -->



<!-- //Game Pages -->
@else if (user.getPage() == 'collections') {
<game-collections></game-collections>
}
@else if (user.getPage() == 'absurdle') {
<game-absurdle></game-absurdle>
}
<!-- Game Pages// -->

}
@else {
<!-- //Loading Indicator -->
<main game>
    <div class="loader"></div>
</main>
<!-- Loading Indicator// -->
}