:host {
    background: var(--background);
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    color: var(--color);
    display: flex;
    flex-direction: column;
}

nav[home] .logo {
    font-size: 2em;
    gap: 0px;
    color: var(--theme);
}

nav[home] .logo img {
    transform: translate(13%, 10%);
}

nav[home] .logo::after {
    content: "by Elvenide";
    color: var(--theme-lightest);
    font-size: 0.3em;
    position: absolute;
    bottom: -0.6em;
    /* left: 1.9em; */
    left: 2.1em;
    z-index: 2;
    letter-spacing: 2px;
    font-style: italic;
}

main[home] {
    gap: 20px;
    overflow-y: auto;
    padding-block: 20px;
    justify-content: flex-start;
}

main[home] button {
    border-radius: 20px;
    font-size: 1.5em;
    width: 75%;
    max-width: 500px;
    min-width: fit-content;
    flex-grow: 1;
    min-height: 63px;
    position: relative;
    border: 1px solid transparent;
    transition: 0.3s all ease-in-out;
}

main[home] button > div {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

main[home] button > div > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main[home] button:disabled div {
    opacity: 0.5;
}

.coming-soon::after {
    content: "Coming Soon";
    font-size: 0.5em;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
    background-color: var(--theme);
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--color);
    box-shadow: 0px 3px 5px -1px var(--theme-darkest);
}

button.absurdle > div {
    background-color: rgb(0, 76, 0);
}

button.absurdle icon {
    color: rgb(159, 219, 110);
}

button.collections > div {
    background-color: rgb(84, 28, 182);
}

button.collections icon {
    color: rgb(206, 59, 135);
}

button.tether > div {
    background-color: rgb(164, 0, 0);
}

button.tether icon {
    color: rgb(96, 160, 255);
}

button.swelling-bee > div {
    background-color: rgb(172, 78, 0);
}

button.swelling-bee icon {
    color: rgb(255, 185, 22);
}

button.trend-market > div {
    background-color: rgb(8, 99, 175);
}

button.trend-market icon {
    color: rgb(245, 106, 60);
}

main[home] button:hover {
    transform: scale(105%);
}

main[game] > .loader {
    width: 50px;
    height: 50px;
    border-left: 5px solid var(--theme-lightest);
    border-radius: 100%;
    animation: infinite 0.5s linear loader;
}

@keyframes loader {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg);
        border-color: var(--theme-lighter);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}