:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: calc(100cqw / 6 - 3px);
    max-height: 60px;
    gap: 4px;
    margin-bottom: 4px;
    container-type: size;
}