:host {
    grid-column: span 4;
    color: var(--theme-light);
    background-color: palevioletred;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    animation: forwards slide-in cubic-bezier(0.215, 0.610, 0.355, 1) 0.9s;
    z-index: 2;
}

/* TODO: change colors */

:host:has(.group-1) {
    background-color: paleturquoise;
}

:host:has(.group-2) {
    background-color: palegreen;
}

:host:has(.group-3) {
    background-color: palegoldenrod;
}

:host:has(.group-4) {
    background-color: lavender;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.members {
    font-size: 1em;
    text-transform: uppercase;
}

.difficulty {
    position: absolute;
    top: 3px;
    right: -50px;
    font-variant: small-caps;
    font-size: 0.9em;
    transition: 0.5s all ease-in-out;
}

:host:hover > .difficulty {
    right: 8px;
}

@keyframes slide-in {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 0px;
    }
}