<nav game>
    <button>
        <a href="/">
            <icon name="home" medium />
        </a>
    </button>
    <div class="logo">
        COLLECTIONS
    </div>
    <div class="separator"></div>
    <button (click)="showInfoModal.set(true)">
        <icon name="outline:info" medium />
    </button>
    <button>
        <icon name="outline:leaderboard" medium />
    </button>
</nav>
<main game>
    <div class="grid" [style]="`grid-template-rows: repeat(${LOADER.length / 4}, 1fr);`">
        @if (loaded()) {
            @for (group of foundGroups(); track group.group) {
                <collections-group [index]="getFoundGroupIndex(group)" [name]="group.group" [members]="group.members" [difficulty]="group.difficulty" />
            }
            @for (members of enumerate(grid()); track $index) {
            @for (member of members; track $index) {
                <collections-member [word]="member" (selectEvent)="selectMember($event)" [class.invalid]="invalidAnimation() && gridSelected().includes(member)" [class.selected]="gridSelected().includes(member)" />
            }
            }
        }
        @else {
            @for (i of LOADER; track $index) {
                <collections-member word="" class="loading" />
            }
        }
    </div>
    <div class="separator"></div>
    <div class="row">
        <span class="lives-hearts">
            @for (_ of [].constructor(lives()); track $index) {
                <icon name="favorite" />
            }
            <icon name="favorite" [style.color]="'transparent'" [style.width]="0" />
        </span>
    </div>
    <div class="separator"></div>
    <div class="row">
        <button [disabled]="!loaded() || grid().length == 0 || lives() <= 0" (click)="shuffle()">
            Shuffle
        </button>
        <button [disabled]="!loaded() || gridSelected().length == 0" (click)="clearSelection()">
            Clear
        </button>
        <button [disabled]="!loaded() || gridSelected().length < 4" (click)="submit()">
            Submit
        </button>
    </div>
    <div class="separator-thin"></div>
</main>
<footer game>
    Created by <a href="#">Elvenide</a>
</footer>

<!-- Win Modal -->
<modal [open]="showWinModal()">
    <span modal-header>
        <icon name="emoji_events" />
        Victory!
    </span>
    Collections Found: 5/5<br />
    Lives Remaining: <b>{{lives()}}/5</b><br/>
    Win Rate: <b>{{collections.getWins() / (collections.getWins() + collections.getLosses()) * 100}}%</b>
    <b style="color: #00cc00;">&nbsp;&plus;</b>
</modal>

<!-- Loss Modal -->
<modal [open]="showLossModal()">
    <span modal-header>
        <icon name="flag" />
        Defeat
    </span>
    Collections Found: {{foundGroups().length}}/5<br />
    Lives Remaining: <b>0/5</b><br/>
    Win Rate: <b>{{collections.getWins() / (collections.getWins() + collections.getLosses()) * 100}}%</b>
    <b style="color: #cc0000;">&nbsp;&ndash;</b>
</modal>

<!-- Info Modal -->
<modal [open]="showInfoModal()" (closeEvent)="showInfoModal.set(false);">
    <span modal-header>How to Collections</span>
    <ul>
        <li>Find groups of 4 connected/related phrases</li>
        <li>Must submit all 4 phrases of a group to get it</li>
        <li>Uncover all {{LOADER.length/4}} groups to win</li>
        <li>
            You start with 
            <span style="color: var(--theme);">
                <icon name="favorite" />{{LOADER.length/4}} 
            </span>
            lives
        </li>
        <li>Lose a life for each incorrect group guess</li>
    </ul>
    <br/>
    If you guess 3 out of 4 phrases in a group correctly,
    you will see the following popup:
    <br />
    <br />
    <toast class="toast-example">
        One Away
    </toast>
</modal>

<!-- Toast for "one away" alert -->
<toast [show]="showOneAwayToast()">
    One Away
</toast>