.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 100%;
    max-width: 800px;
    flex-grow: 1;
    max-height: 700px;
    container-type: size;
}

main .separator {
    flex-grow: 1;
    max-height: 15px;
}

main .separator-thin {
    flex-grow: 1;
    max-height: 10px;
}

main .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

main button {
    border-radius: 10px;
    border: 1px solid var(--color);
    padding: 5px 10px;
    width: 100%;
    max-width: 260px;
    transition: 0.2s all ease-in-out;
    color: var(--color);
    background-color: transparent;
}

main button:hover {
    border-color: var(--color);
    background-color: rgba(255, 255, 255, 0.1);
}

main button:active {
    border-color: var(--theme);
    color: var(--theme);
    background-color: var(--theme-transparent);
}

main button:disabled {
    opacity: 0.5;
}

.lives-hearts {
    color: #7c39df;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 1.2em;
    position: relative;
    width: auto;
}

.lives-hearts::after {
    content: "Lives:";
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateX(-100%) translateY(-50%);
    color: #6833b1;
}

nav[game] .logo {
    gap: 0px;
    animation: linear 1s 7.8s logo-container-unveil forwards;
}

.logo > div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    padding: 2px 3px;
    border-radius: 5px;
}

.logo > div:nth-of-type(1) {
    background-color: rgb(0, 94, 55);
    padding-left: 5px;
    animation: 2 linear 3s logo-animation, linear 1s 6s logo-unveil forwards;
}

.logo > div:nth-of-type(2) {
    background-color: rgb(102, 14, 0);
    z-index: 2;
    animation: 2 linear 3s 0.2s logo-animation reverse, linear 1s 6.2s logo-unveil forwards;
}

.logo > div:nth-of-type(3) {
    background-color: rgb(54, 0, 124);
    z-index: 3;
    animation: 2 linear 3s 0.4s logo-animation, linear 1s 6.4s logo-unveil forwards;
}

.logo > div:nth-of-type(4) {
    background-color: rgb(0, 75, 133);
    z-index: 2;
    animation: 2 linear 3s 0.6s logo-animation reverse, linear 1s 6.6s logo-unveil forwards;
}

.logo > div:nth-of-type(5) {
    background-color: rgb(93, 0, 67);
    padding-right: 5px;
    animation: 2 linear 3s 0.8s logo-animation, linear 1s 6.8s logo-unveil forwards;
}

@keyframes logo-animation {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(2px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes logo-unveil {
    100% {
        background-color: transparent;
        padding-inline: 0px;
    }
}

@keyframes logo-container-unveil {
    100% {
        background-color: #432795;
        padding: 2px 8px;
        border-radius: 5px;
    }
}